.mainTitle {
    font-size: 20px;
    text-align: center;
    margin-top:  32px;
    color: var(--text-color-bright);
}

.problemStatement {
    font-size: 16px;
    font-weight: 600;
    margin:  32px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
    background-color: var(--bg-color-accent);
    border-radius: 8px;
    padding: 16px;
}

.questionFormContainer {
    margin-top: 24px;
}

.main {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 12px;
}

.feedWrapper {
    margin-top: 40px;
}

.questionResultContainer {
    margin-top: 40px;
    min-height: 220px
}