.main {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 16px;
}

.feedWrapper {
    margin-top: 40px;
}

.mainControll {
    position: relative;
    margin-top: 40px;
    min-height: 300px;

    .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
