.problemStatement {
    filter: var(--filter-shadow);
    margin:  32px 16px 0;
    background-color: var(--bg-color-accent);
    border-radius: 8px;
    padding: 20px 20px 20px;
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin: 0;
    }
    p {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 0 0;
    }
}

.questionFormContainer {
    margin-top: 24px;
}

.main {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 12px;
}

.feedWrapper {
    margin-top: 40px;
}

.questionResultContainer {
    margin-top: 40px;
    min-height: 220px
}
