.main {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 16px;
}

.feedWrapper {
    margin-top: 40px;
}

.mainControll {
    position: relative;
    margin-top: 40px;
}

.centerContent {
    min-height: 280px;
}
