.mainTitle {
    font-size: 20px;
    text-align: center;
    margin-top:  28px;
}

.problemStatement {
    font-size: 16px;
    font-weight: 600;
    margin:  28px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
    background-color: var(--bg-color-accent);
    border-radius: 8px;
    padding: 16px;
}

.bottom {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color-main);
    margin-top: 16px;
}

.main {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 12px;
}

.feedWrapper {
    margin-top: 40px;
}