.container {
   display: flex;
   flex-direction: column;
   padding: 0 4px;
   margin: 0;
    li {
        border-top: 1px solid var(--border-color);
        list-style: none;
        padding: 16px 0px;
    }
    a {
        text-decoration: none;
    }
    .title {
        font-size: 16px;
        margin: 0;
        color: var(--text-color-primary);
        margin-bottom: 8px;
    }
    p {
        margin: 0;
        font-size: 14px;
        color: var(--text-color-secondary);
        margin-bottom: 12px;
    }
    .iconContainer {
        display: flex;
        justify-content: center;
    }
}