@use "../../tokens.scss" as tokens;
.container {
    margin: 0 0 8px; //FIXME: marginは持たない
    font-size: 14px;
    padding: tokens.$spacing-padding-atom tokens.$spacing-xs;
    word-wrap: break-word;
    color: var(--color-base-fg-secondary);
    background-color: var(--color-base-bg-info);
    border-radius: 8px;
    font-weight: 400;

    &[data-size="small"]{
        font-size: 13px;
        padding: tokens.$spacing-padding-atom tokens.$spacing-xxs;
    }
}