@use  "../../designSystem/tokens.scss" as tokens;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 0 0 tokens.$spacing-xs;
        font-size: tokens.$typography-font-size-x3l;
        font-weight: 400;
        color: var(--color-base-fg);
        line-height: tokens.$typography-line-height-label;
    }
    p {
        margin: 0 0 tokens.$spacing-xs;
        font-size: tokens.$typography-font-size-m;
        color: var(--color-base-fg-secondary);
        text-align: center;
    }
    .buttons {
        display: flex;
        row-gap: tokens.$spacing-xxs;
        column-gap: tokens.$spacing-xs;
        flex-wrap: wrap;
        justify-content: center;
        a,button {
            text-align: center;
            width: tokens.$layout-fixed-width-m;
        }
    }
}