.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    background-color: var(--bg-color-brand);
    color: var(--text-color-bright);
    h1 {
        font-size: 24px;
    }
}
