.container {
    width: 80%;
    margin: 0 auto;
    background-color: var(--bg-color-main-secondary);
    padding: 16px;
    border-radius: 2px;
  
    h2 {
      color: var(--text-color-primary);
      margin-bottom: 16px;
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      input,
      select {
        margin-bottom: 16px;
        padding: 8px;
        border: 1px solid var(--border-color);
        border-radius: 2px;
      }
  
      .questionExamples {
        display: flex;
        flex-direction: column;
  
        .questionExample {
          display: flex;
          flex-direction: column;
          background-color: var(--bg-color-accent);
          padding: 8px;
          margin-bottom: 16px;
  
          button {
            align-self: flex-end;
            margin-top: 8px;
            background-color: var(--bg-color-action-secondary);
            color: var(--text-color-bright);
            padding: 8px 16px;
            border-radius: 2px;
            border: none;
          }
        }
      }
  
      button {
        padding: 8px 16px;
        border-radius: 2px;
        border: none;
      }
  
      .addQuestion {
        background-color: var(--bg-color-action);
        color: var(--text-color-action);
        margin-bottom: 16px;
      }
  
      .submit {
        background-color: var(--bg-color-brand);
        color: var(--text-color-bright);
      }
    }
  }
  