@use "../../../../designSystem/tokens.scss" as tokens;

.menu {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: tokens.$layout-fixed-width-m;
    gap: tokens.$spacing-x3s;
    padding: tokens.$spacing-padding-atom;
    background-color: var(--color-base-bg);
    border-radius: tokens.$border-radius;
    border: var(--border-primary);
    filter: tokens.$elevation-filter-1;
    li {
        list-style: none;
    };
    hr {
        margin: 0;
        border: none;
        height: 1px;
        background-color: var(--color-base-fg-silent);
    }
}

.buttonReset {
    border: none;
    background-color: unset;
    padding: 0;
    height: tokens.$typography-font-size-xxl;
    width: tokens.$typography-font-size-xxl;
}