.transitionProgress {
    width: 0%;
    height: 4px;
    margin-bottom: -4px;
    z-index: 1;
    position: sticky;
    top: 0;
    background-color: var(--color-accent-bg); /* 任意の色に変更可能 */
    transition: width 1s ease-in-out;
    animation: expandWidth 1s forwards;
}

@keyframes expandWidth {
    0% {
        width: 0%;
    }
    50% {
        width: 70%;
    }
    100% {
        width: 95%;
    }
}
