@use "../../tokens.scss" as tokens;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 8px;
    color: var(--color-base-fg);
}

.headingFuture {
    font-weight: 400;
    color: var(--color-base-fg);
    line-height: tokens.$typography-line-height-label;
    &[data-size="large"]{
        font-size: tokens.$typography-font-size-l;
        margin: 0 0 tokens.$spacing-xs;
    }
    &[data-size="medium"]{
        font-size: tokens.$typography-font-size-m;
        margin: 0 0 tokens.$spacing-xxs;
    }
    &[data-size="small"]{
        font-size: tokens.$typography-font-size-s;
        margin: 0 0 tokens.$spacing-x3s;
    }
}