html {
    --text-color-primary: #515151;
    --text-color-secondary: #666666;
    --text-color-bright: #ffffff;
    --text-color-action: #FFFFFF;
    --text-color-danger: #EC7854;
    --bg-color-main:#FFFFFF;
    --bg-color-main-secondary: #F7FFF4;
    --bg-color-accent: #F3F8FB;
    --bg-color-accent-secondary: #FDF8F1;
    --bg-color-brand: #495A60;
    --bg-color-action: #7F9E8A;
    --bg-color-action-danger: #EC7854;
    --bg-color-action-secondary: #d28787;
    --border-color: #d4d7e2;
    --text-color-twitter: #1da1f2;
    --filter-shadow: drop-shadow(0 0 2px var(--border-color));
    --border-primary: 1px solid var(--border-color);
    --filter-brightness-feedback: brightness(98%);
    --filter-brightness-disabled: brightness(80%);
    --font-family: Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,sans-serif;
    color: var(--text-color-primary);
    background-color: var(--bg-color-main);
    line-height: 1.4;
    font-family: var(--font-family);
}

html[data-appearance="dark"]{
    --text-color-primary: #d6d6d6;
    --text-color-secondary: #c7c7c7;
    --text-color-bright: #d6d6d6;
    --text-color-action: #000000;
    --text-color-danger: #a93815;
    --bg-color-main: #000000;
    --bg-color-main-secondary: #2E2E2E;
    --bg-color-action: #9fafa4;
    --bg-color-action-danger: #a93815;
    --bg-color-accent: #3C474D;
    --bg-color-accent-secondary: #343839;
    --bg-color-action-secondary: #2D3E43;
    --border-color: #4B5156;
    --filter-brightness-feedback: brightness(90%);
    --filter-brightness-disabled: brightness(70%);
}

* {
    font-family: var(--font-family);
    text-decoration: none;
}