html {
    --text-color-primary: #515151;
    --text-color-secondary: #666666;
    --text-color-bright: #ffffff;
    --text-color-action: #FFFFFF;
    --bg-color-main:#FFFFFF;
    --bg-color-main-secondary: #F7FFF4;
    --bg-color-accent: #F3F8FB;
    --bg-color-accent-secondary: #FDF8F1;
    --bg-color-brand: #495A60;
    --bg-color-action: #7F9E8A;
    --bg-color-action-danger: #EC7854;
    --bg-color-action-secondary: #d28787;
    --border-color: #d4d7e2;
    --filter-shadow: none;
    color: var(--text-color-primary);
    background-color: var(--bg-color-main);
    line-height: 1.4;
    font-family: Helvetica Neue,Arial,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,sans-serif;
}