html {
    --color-base-bg: rgb(255, 255, 255);
    --color-base-bg-success: rgb(247, 255, 244);
    --color-base-bg-info: rgb(243, 248, 251);
    --color-base-bg-accent: rgb(253, 248, 241);
    --color-base-fg: rgb(81, 81, 81);
    --color-base-fg-secondary: rgb(102, 102, 102);
    --color-base-fg-danger: rgb(236, 120, 84);
    --color-base-fg-silent: rgb(212, 215, 226);
    --color-base-fg-skelton: rgb(232, 232, 232);
    --color-brand-bg: rgb(73, 90, 96);
    --color-brand-fg: rgb(255, 255, 255);
    --color-accent: rgb(127, 158, 138);
    --color-accent-bg: rgb(127, 158, 138);
    --color-accent-bg-secondary: rgb(210, 135, 135);
    --color-accent-bg-danger: rgb(236, 120, 84);
    --color-accent-fg: rgb(255, 255, 255);
    --color-twitter-bg: rgb(29, 161, 242);
    --filter-shadow: drop-shadow(0 0 2px var(--color-base-fg-silent));
    --border-primary: 1px solid var(--color-base-fg-silent);
    --filter-brightness-feedback: brightness(98%);
    --filter-brightness-disabled: brightness(80%);
    --font-family: Helvetica Neue, Arial, Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
    color: var(--color-base-fg);
    background-color: var(--color-base-bg);
    line-height: 1.4;
    font-family: var(--font-family);
}

@media (prefers-color-scheme: dark) {
    html {
        --color-base-bg: rgb(0, 0, 0);
        --color-base-bg-success: rgb(30, 37, 42);
        --color-base-bg-info: rgb(30, 37, 42);
        --color-base-bg-accent: rgb(30, 37, 42);
        --color-base-fg: rgb(214, 214, 214);
        --color-base-fg-secondary: rgb(199, 199, 199);
        --color-base-fg-danger: rgb(185, 60, 22);
        --color-base-fg-silent: rgb(75, 81, 86);
        --color-base-fg-skelton: rgb(43, 43, 43);
        --color-brand-bg: rgb(0, 0, 0);
        --color-brand-fg: rgb(214, 214, 214);
        --color-accent: rgb(199, 199, 199);
        --color-accent-bg: rgb(66, 97, 91);
        --color-accent-bg-danger: rgb(185, 60, 22);
        --color-accent-bg-secondary: rgb(166, 82, 63);
        --color-accent-fg: rgb(214, 214, 214);
        --filter-brightness-feedback: brightness(90%);
        --filter-brightness-disabled: brightness(70%);
    }
}

* {
    font-family: var(--font-family);
    text-decoration: none;
}