@mixin buttonBase {
    font-size: 14px;
    padding: 4px 12px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 100%;
    filter: var(--filter-shadow);
    text-decoration: none;
    &:hover {
        filter: brightness(95%);
    }
    &:disabled {
        filter: brightness(70%);
        cursor: not-allowed;
    }
}

.button {
    @include buttonBase;
    background-color: var(--bg-color-action);
    color: var(--text-color-action);
}

.buttonSecondary {
    @include buttonBase;
    background-color: var(--bg-color-action-secondary);
    color: var(--text-color-action);
}

.buttonDanger {
    @include buttonBase;
    background-color: var(--bg-color-action-danger);
    color: var(--text-color-action);
}

.buttonLink {
    @include buttonBase;
    background-color: var(--bg-color-main);
    color: var(--text-color-primary);
    border: 1px solid var(--border-color);
}