.container {
    display: flex;
    flex-direction: column;
    .description {
        margin: 0 0 8px;
        font-size: 14px;
        padding: 12px;
        word-wrap: break-word;
        color: var(--text-color-secondary);
        background-color: var(--bg-color-accent);
        border-radius: 8px;
        font-weight: 400;
    }
    textarea {
        min-height: 100px;
    }
    label {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 14px;
        color: var(--text-color-secondary);
        font-weight: bold;
    }
    .error,label p {
        margin: 0;
        font-size: 12px;
        color: var(--text-color-danger);
        font-weight: bold;
    }
    .field {
        margin-bottom: 16px;
    }
    .questionExampleItem {
        margin-bottom: 12px;
        .questionExampleHead {
            height: 24px;
            font-size: 16px;
            color: var(--text-color-secondary);
            font-weight: bold;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            button {
                border: none;
                background-color: unset;
                margin-left: auto;
            }
        }
    }
    fieldset {
        margin: 0 0 24px;
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        legend {
            font-size: 14px;
            color: var(--text-color-secondary);
            font-weight: bold;
            margin-bottom: 4px;
        }
        border: var(--border-primary);
        border-radius: 2px;
        .field {
            margin-bottom: 8px;
        }

    }
    .upperMenu{
        position: sticky;
        top: 16px;
        margin-right: 8px;
        margin-left: auto;
        z-index: 1;
        button {
            display: flex;
            gap: 8px;
            align-items: center;
            border: var(--border-primary);
            border-radius: 8px;
            font-size: 14px;
            padding: 4px 8px;
            svg {
                width: 24px;
                height: 24px;
            }
        }
    }
    .questionExampleFoot {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
        button {
            border: none;
            background-color: unset;
            color: var(--text-color-secondary);
        }
    }
}