@use "../../tokens.scss" as tokens;
.input {
    border: var(--border-primary);
    border-radius: 2px;
    padding: tokens.$spacing-padding-atom;
    font-size: 17px;
    background-color: var(--color-base-bg);
    color: var(--color-base-fg);
    font-weight: 400;
    line-height: tokens.$typography-line-height-label;
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-weight: 400;
    }
}