.container {
    filter: var(--filter-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    p {
        margin: 0 0 24px;
        font-size: 16px;
        color: var(--text-color-secondary);
        text-align: center;
    }
    .content {
        min-height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 16px;
    }
    .buttons {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
        a {
            text-align: center;
            width: 170px;
        }
    }
}