.container {
    .field {
        margin-bottom: 8px;
    }
    .head {
        height: 24px;
        font-size: 16px;
        color: var(--color-base-fg-secondary);
        font-weight: bold;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        .headRight {
            margin-left: auto;
            height: 20px;
            width: 20px;
        }

    }
}