@use "../designSystem/tokens.scss" as tokens;

.landing {
    margin-bottom: tokens.$spacing-l;
}
.region {
    margin-bottom: tokens.$spacing-m;
    display: flex;
    flex-direction: column;
    align-items: center;
}