@import "../../components.module.scss";

.iconWrapper {
    display: flex;
    & > * {
        height: 100%;
        width: 100%;
    }
}

.button {
    @include buttonBase;
    gap: 4px;
    width: auto;
    &[data-width="full"]{
        width: 100%;
    }
    &[data-color="zero"]{
        background-color: unset;
        --button-text-color: var(--color-base-fg);
        border: none;
    }
    &[data-color="primary"]{
        background-color: var(--color-accent-bg);
        --button-text-color: var(--color-accent-fg);
    }
    &[data-color="secondary"]{
        background-color: var(--color-accent-bg-secondary);
        --button-text-color: var(--color-accent-fg);
    }
    &[data-color="none"]{
        background-color: var(--color-base-bg);
        --button-text-color: var(--color-base-fg);
        border: var(--border-primary);
    }
    &[data-color="brand"]{
        background-color: transparent;
        --button-text-color: var(--color-brand-fg);
        border: var(--border-primary)
    }
    &[data-size="small"]{
        font-size: 12px;
        .iconWrapper {
            width: 14px;
            height: 14px;
        }
    }
    &[data-size="medium"]{
        font-size: 14px;
        .iconWrapper {
            width: 16px;
            height: 16px;
        }
    }
    &[data-size="large"]{
        font-size: 16px;
        .iconWrapper {
            width: 18px;
            height: 18px;
        }
    }
}

.iconButton {
    background-color: unset;
    color: var(--color-base-fg);
    border: none;
    padding: 0;
    &:hover{
        opacity: 0.8;
    }
    svg{
        height: 16px;
        width: 16px;
    }
}