@use "../../designSystem/tokens.scss" as tokens;
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: tokens.$spacing-xs;
    margin-bottom: tokens.$spacing-padding-organism;
    .basic {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: var(--color-base-fg-secondary);
        row-gap: tokens.$spacing-x3s;
        column-gap: tokens.$spacing-xxs;
        a {
            color: var(--color-base-fg-secondary);
        }
    }
    p {
        font-size: tokens.$typography-font-size-m;
        white-space: pre-wrap;
        color: var(--color-base-fg);
        margin: 0 0 0 0;
        text-align: center;
    }
    .share {
        display: flex;
        gap: tokens.$spacing-xxs;
        .twitter {
            color: var(--color-twitter-bg);
        }
        
    }
}