@use "../../designSystem/tokens.scss" as tokens;
.copyButtonContainer {
    position: absolute;
    top: 0;
    right: 0;
}

.syntaxHighlight {
    position: relative;
}

.container {
    p {
        margin: 0;
        font-size: tokens.$typography-font-size-m;
        color: var(--color-base-fg-secondary);
    }
    h1,h2,h3 {
        margin: tokens.$spacing-xs 0;
    }
    h4,h5,h6 {
        margin: tokens.$spacing-xxs 0;
    }
    ul {
        padding-left: tokens.$spacing-s;
    }
}