.container {
    
    margin:  32px 12px 0;
    &[data-truth="true"]{
        background-color: var(--color-base-bg-success);
    }
    border-radius: 8px;
    padding: 20px;
    border: var(--border-primary);
    h3 {
        font-size: 20px;
        font-weight: 400;
        margin: 0 auto;
        width: fit-content;
    }
    dl {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 12px 0 0;
        dt {
            font-size: 16px;
            font-weight: bold;
            color: var(--color-base-fg-secondary);
            margin: 0 auto;
            width: fit-content;
            padding: 0px 4px;
            border-bottom: var(--border-primary);
        }
        dd {
            padding: 4px 0px;
            font-size: 14px;
            text-align: center;
            margin-left: 0;
        }
        margin-bottom: 16px;;
    }
    .buttonContainer {
        display: flex;
        justify-content: center;
    }
}

