.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        border-top: var(--border-primary);
        list-style: none;
        padding: 16px 0px;
    }

    a {
        text-decoration: none;
    }

    h2 {
        font-size: 16px;
        margin: 0;
        color: var(--color-base-fg);
        margin-bottom: 8px;
        font-weight: 400;
    }

    p {
        margin: 0;
        font-size: 14px;
        color: var(--color-base-fg-secondary);
        margin-bottom: 12px;
        max-height: 80px;
        overflow: hidden;
    }

    .iconContainer {
        display: flex;
        justify-content: center;
    }

    .seeMore {
        margin-top: 8px;
        display: flex;
        justify-content: center;
    }
}