.formContent {
    width: 100%;
    height: 36px;
    display: flex;
    gap: 8px;
    button {
        width: 40px;
    }
    input {
        flex-grow: 1;
    }
}

.formLabel {
    font-size: 14px;
    color: var(--color-base-fg-secondary);
    font-weight: bold;
    margin-bottom: 4px;
}