.loading {
    height: 100%;
    width: 100%;
    .spinner {
        width: 120px;
        height: 120px;
        border: 12px solid var(--color-base-fg-silent);
        border-top: 12px solid var(--color-base-fg-secondary);
        border-radius: 50%;
        animation: spin 1s linear infinite, fadeIn 0.3s forwards;
        margin: 100px auto; /* 中央に配置 */
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}