.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.resultContainer {
    margin: 0;
    background-color: var(--bg-color-accent);
    padding: 24px 24px;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 16px;
}