.container {
    margin: 0;
    background-color: var(--bg-color-accent);
    padding: 20px 20px;
    border-radius: 2px;
    .content {
        background-color: var(--bg-color-main);
        border-radius: 2px;
        padding: 4px 16px;
    }
    .row {
        display: flex;
        padding: 8px 12px 8px 0;
        font-size: 16px;
        border-radius: 2px;
        justify-content: center;
    }
    hr {
        margin: 0;
        border: none;
        height: 1px;
        background-color: var(--border-color);
    }
    dt {
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-items: center;
        color: var(--text-color-secondary);
        svg {
            height: 22px;
            width: 22px;
        }
    }
    dd {
        margin-left: 4px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: var(--filter-shadow);
        &.answerLoading {
            color: var(--border-color);
        }
    }
    margin-bottom: 16px;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}