@mixin buttonBase {
    font-size: 14px;
    padding: 2px 10px;
    border: var(--border-primary);
    box-sizing: border-box;
    border-radius: 2px;
    line-height: 1.6;
    cursor: pointer;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button-text-color);
    &:hover {
        filter: opacity(75%);
    }
    &:disabled {
        filter: opacity(55%);
        cursor: not-allowed;
    }
    &[data-loading="true"]::after {
        content: "";
        display: inline-block;
        margin-left: 5px;
        border: 2px solid var(--button-text-color);
        border-top: 2px solid transparent;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        animation: spin 1s linear infinite;
    }
    &[data-width="medium"]{
        width: 160px;
    }
    &[data-size="small"]{
        font-size: 12px;
        padding: 2px 8px;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button0 {
    @include buttonBase;
    background-color: unset;
    --button-text-color: var(--color-base-fg);
    border: none;

}

.button {
    @include buttonBase;
    background-color: var(--color-accent-bg);
    --button-text-color: var(--color-accent-fg);
}

.button2 {
    @include buttonBase;
    background-color: var(--color-accent-bg-secondary);
    --button-text-color: var(--color-accent-fg);
}

.buttonDanger {
    @include buttonBase;
    background-color: var(--color-accent-bg-danger);
    --button-text-color: var(--color-accent-fg);
}

.buttonLink {
    @include buttonBase;
    background-color: var(--color-base-bg);
    --button-text-color: var(--color-base-fg);
    border: var(--border-primary);
}

.buttonBrandFg {
    @include buttonBase;
    background-color: transparent;
    --button-text-color: var(--color-brand-fg);
    border: var(--border-primary)
}

.iconButton {
    width: 24px;
    height: 24px;
    color: var(--color-accent);
    cursor: pointer;
}

.iconButtonLink {
    width: 24px;
    height: 24px;
    color: var(--color-base-fg);
    cursor: pointer;
}

.iconButtonBrandFg {
    width: 30px;
    height: 30px;
    color: var(--color-brand-fg);
    cursor: pointer;
}

.iconButtonDanger {
    width: 24px;
    height: 24px;
    color: var(--color-base-fg-danger);
    cursor: pointer;
}

.input {
    border: var(--border-primary);
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 16px;
    background-color: var(--color-base-bg);
    color: var(--color-base-fg);
    font-weight: 400;
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-weight: 400;
    }
}

.textarea {
    border: var(--border-primary);
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 16px;
    background-color: var(--color-base-bg);
    color: var(--color-base-fg);
    font-weight: 400;
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-weight: 400;
    }
}

.selectWrapper {
    position: relative;
    select {
        border: var(--border-primary);
        border-radius: 2px;
        padding: 4px 8px;
        font-size: 16px;
        background-color: var(--color-base-bg);
        color: var(--color-base-fg);
        font-weight: 400;
        position: relative;
        appearance: none;
        &:focus {
            outline: none;
        }
        &::placeholder {
            font-weight: 400;
        }
        width: 100%;
    }
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid var(--color-base-fg-secondary);
    }
}