$typography-line-height-default: 1.5;
$typography-line-height-oneline: 1;
$elevation-filter-1: drop-shadow(0 0 2px var(--color-base-fg-silent));
$spacing-x3s: 4px;
$spacing-xxs: 8px;
$spacing-xs: 16px;
$spacing-s: 24px;
$spacing-m: 32px;
$spacing-l: 48px;
$spacing-xl: 64px;

$spacing-padding-atom-y: 4px;
$spacing-padding-atom-x: 8px;