.container {
    background-color: var(--bg-color-main);
    border-radius: 2px;
    padding: 4px 16px;
    .row {
        display: flex;
        padding: 8px 12px 8px 0;
        font-size: 16px;
        border-radius: 2px;
        justify-content: center;
        &[data-status=loading] {
            filter: opacity(50%)
        }
        &[data-status=idle] {
            filter: opacity(0%)
        }
    }
    hr {
        margin: 0;
        border: none;
        height: 1px;
        background-color: var(--border-color);
        &[data-status=loading] {
            filter: opacity(50%)
        }
        &[data-status=idle] {
            filter: opacity(0%)
        }
        &[data-status=success] {
            filter: opacity(100%)
        }
    }
    dt {
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-items: center;
        color: var(--text-color-secondary);
        svg {
            height: 22px;
            width: 22px;
        }
    }
    dd {
        margin-left: 4px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: var(--filter-shadow);
    }
}