.container {
    display: flex;
    flex-direction: column;
    textarea {
        min-height: 100px;
    }
    label {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 14px;
        color: var(--color-base-fg-secondary);
        font-weight: bold;
    }
    .field {
        margin-bottom: 16px;
    }
    .questionExampleItem {
        margin-bottom: 12px;
    }
    fieldset {
        margin: 0 0 24px;
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
        legend {
            font-size: 14px;
            color: var(--color-base-fg-secondary);
            font-weight: bold;
            margin-bottom: 4px;
        }
        border: var(--border-primary);
        border-radius: 2px;
    }
    .upperMenu{
        position: sticky;
        top: 16px;
        margin-right: 8px;
        margin-left: auto;
        z-index: 1;
        button {
            display: flex;
            gap: 8px;
            align-items: center;
            border-radius: 8px;
            font-size: 14px;
            padding: 6px 8px;
            box-shadow: 0 0 2px var(--color-base-fg-silent);
            svg {
                width: 24px;
                height: 24px;
            }
        }
    }
    .addQuestionButton {
        display: flex;
        justify-content: center;
        margin: 0 auto 8px;
        height: 24px;
        width: 24px;
    }
}