.container {
    filter: var(--filter-shadow);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    h2 {
        font-size: 24px;
        font-weight: 400;
        margin: 0;
        border-bottom: 1px solid var(--text-color-secondary);
        padding-bottom: 2px;
    }
    dl {
        margin: 0;
        .basic {
            display: flex;
            justify-content: center;
            color: var(--text-color-secondary);
            dt::after {
                content: ":";
            }
            dd {
                margin: 0 0 0 4px;
            }
        }
        .content {
            margin-top: 16px;
            dt {
                font-size: 14px;
                font-weight: bold;
                color: var(--text-color-secondary);
            }
            dd {
                font-size: 16px;
                color: var(--text-color-primary);
                margin: 4px 0 0 0;
            }
        }
    }
    p {
        margin: 0;
        font-size: 16px;
    }
}