.container {
    hr {
        margin: 0;
        border: none;
        height: 1px;
        background-color: var(--color-base-fg-silent);
    }
    h2 {
        font-size: 14px;
        margin: 0;
        margin-bottom: 8px;
    }
    section {
        margin-bottom: 24px;
    }
    .row {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        p {
            margin: 0 4px 0;
            font-size: 16px;
            color: var(--color-base-fg-secondary);
            &.small {
                font-size: 14px;
                strong {
                    font-size: 16px;
                }
            }
        }
        .left {
            flex-grow: 1;
            input {
                width: 100%;
                min-width: 300px;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            button {
                height: fit-content;
            }
            .buttons {
                display: flex;
                gap: 8px;
            }
        }
    }
}