@use "../../designSystem//tokens.scss" as tokens;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: tokens.$typography-font-size-m;
        margin: 0;
        margin-bottom: tokens.$spacing-xxs;
    }
    section {
        width: 100%;
        margin-bottom: tokens.$spacing-s;
    }
    .row {
        display: flex;
        gap: tokens.$spacing-xs;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        p {
            margin: 0 tokens.$spacing-padding-atom 0;
            font-size: tokens.$typography-font-size-m;
            color: var(--color-base-fg-secondary);
            &.small {
                font-size: tokens.$typography-font-size-s;
                strong {
                    font-size: tokens.$typography-font-size-m;
                }
            }
        }
        .left {
            flex-grow: 1;
            input {
                width: 100%;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .buttons {
                display: flex;
                gap: tokens.$spacing-xxs;
            }
        }
    }
}